li {
  color: #7c7c7c;
  font-size: 16px;
  height: 19px;
  list-style: none;
  left: -18px;
  position: relative;
  margin: 0;
  padding: 0;
}

.mainDisplay {
  position: relative;
  height: 250px;
  width: 160px;
  left: 125px;
  text-align: center;
  background: #fff;
  display: block;
  border-radius: 6px;
  border: 6px gray;
}

.city {
  font-weight: 600;
  font-size: 24px;
  margin-top: 4px;
}
#date {
  padding-top: 5px;
  line-height: 75%;
  font-weight: 600;
}

#time {
  padding-top: 17px;
  font-weight: 550;
}
#humidity {
  padding-top: 25px;
  font-size: 14px;
}

#wind {
  font-size: 14px;
  padding-top: 17px;
}
.fahrenheit-link,
.celsius1 {
  border: none;
  background: none;
  position: relative;
  top: -15px;
  font-size: 14px;
  left: 5px;
}

.celsius1 {
  margin: 0;
  padding: 0;
  position: relative;
  left: -5px;
}

.fahrenheit-link {
  position: relative;
  left: -1px;
}
.mainTemperature {
  position: relative;
  top: 7px;
}

#temperature {
  font-size: 40px;
  position: relative;
  left: 7px;
  margin: 0;
  padding: 0;
  line-height: 50%;
}

#description {
  padding-top: 12px;

  font-size: 14px;
}

#icon {
  height: 50px;
  width: 50px;
  left: 20px;
  top: 15px;
}
