li {
  color: #7c7c7c;
  font-size: 16px;
  height: 19px;
  list-style: none;
  left: -18px;
  position: relative;
  margin: 0;
  padding: 0;
}

.mainDisplay {
  position: relative;
  height: 250px;
  width: 200px;
  left: 102px;
  text-align: center;
  background: #fff;
  display: block;
  border-radius: 6px;
  border: 6px gray;
  top: 50px;
}

.city {
  font-weight: 600;
  font-size: 24px;
  margin-top: 4px;
  position: relative;
  top: -57px;
}
#date {
  padding-top: 5px;
  line-height: 75%;
  font-weight: 600;
  position: relative;
  top: -60px;
}

#time {
  padding-top: 17px;
  font-weight: 550;
  position: relative;
  top: -65px;
}

#humidity {
  padding-top: 22px;
  font-size: 14px;
  position: relative;
  top: -65px;
}

#wind {
  font-size: 14px;
  padding-top: 17px;
  position: relative;
  top: -63px;
}
.fahrenheit-link,
.celsius1 {
  border: none;
  background: none;
  position: relative;
  font-size: 14px;
  position: relative;
  top: -75px;
}

.celsius1 {
  margin: 0;
  padding: 0;
  position: relative;
  left: 8px;
}

.fahrenheit-link {
  position: relative;
  left: 12px;
}
.mainTemperature {
  position: relative;
  top: 7px;
}

#temperature {
  font-size: 40px;
  position: relative;
  bottom: 60px;
  left: 20px;
  margin: 0;
  padding: 0;
  line-height: 50%;
}

#description {
  padding-top: 12px;

  font-size: 14px;
  position: relative;
  top: -110px;
}

#icon {
  height: 50px;
  width: 50px;
  left: 40px;
  top: 20px;
  position: relative;
  top: -30px;
}
