.searchButton,
.locationButton {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border: 2px rgb(153, 153, 153);
  color: grey;
  position: relative;
  top: 3px;
}

.locationButton {
  position: relative;
  left: 5px;
}

.SearchArea {
  position: relative;
  left: 115px;
  top: 10px;
}
